.footer__column-link {
    display: flex;
    align-items: flex-start;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    color: white;
    gap: 10px;
  }
  .footer__column-links:hover {
    opacity: 0.8;
}