.header__title {
    display: flex;
    align-self: center;
    height: 96px;
    width: 730px;
    left: 64px;
    position: absolute;
    line-height: 96px;
    font-size: 102px;
    font-weight: 600;
    z-index: 2;
  }